# Time Series

Time series data is basically time interval type of data ie, t, t+1, t+2 ........

The current data that we are working with is a seasonal data with 123 rows and 6 columns, showing mean values of the temparature

Data types of Time Series
Stationary -  Mean and Variance should be constant with respect to time. basically similar values , and gives almost a straight line type
Non- Stationary - mean and variance changes with respect to time. Hence any data in time series is always going to be one of those. 
Hypothesis Testing is an one way to testng the staionaruty

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('TEMP_ANNUAL_SEASONAL_MEAN.csv')
print(df.shape)

(123, 6)

In [7]:
print(df)
print(df.info())

       YEAR  ANNUAL  JAN-FEB  MAR-MAY  JUN-SEP  OCT-DEC
0    1901.0   25.42    20.11    27.64    28.16     23.1
1    1902.0   25.42    20.88    27.96    27.98    22.51
2    1903.0   25.01    19.99    27.02       28    22.33
3    1904.0   24.93    19.76    27.23    27.57    22.56
4    1905.0   24.84    18.36    26.38     28.2    23.13
..      ...     ...      ...      ...      ...      ...
118  2019.0   25.86    20.71       28     28.6    23.49
119  2020.0   25.78    20.79    27.58    28.45    23.75
120  2021.0   25.93    21.43    27.97    28.36    23.66
121     NaN     NaN      NaN      NaN      NaN      NaN
122     NaN  ANNUAL  JAN-FEB  MAR-MAY  JUN-SEP  OCT-DEC

[123 rows x 6 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123 entries, 0 to 122
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   YEAR     121 non-null    float64
 1   ANNUAL   122 non-null    object
 2   JAN-FEB  122 non-null    object
 3   MAR-MAY  122 non-null    object
 4   JUN-SEP  122 non-null    object
 5   OCT-DEC  122 non-null    object
dtypes: float64(1), object(5)
memory usage: 5.9+ KB
None